<!DOCTYPE html>
<html>
  <head>
    <title>StAssignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= render "shared/navbar" %>
      <%= yield %>
    </main>
    <% flash.each do |type, msg| %>
      <div class="inline-block bg-yellow-300 p-2 font-sm font-bold text-[#003252] mx-auto rounded-lg text-center absolute bottom-20 right-20">
        <%= msg %>
      </div>
    <% end %>
  </body>
</html>
